/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.jumbotron h1{

  font-weight: 900;
}
.jumbotron p{

  font-weight: 900;
}

.jumbotron{
  height: 500px;
  margin-bottom: 60px;
  background: url(../image/wall.jpg) no-repeat center ;
  background-size: 100%;
  /*background-color: #779;*/
  color:  #FFF;

}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.navbar-nav.navbar-right:last-child{
margin-right: 15px;
}

.row{

  margin-top: 0px;
}

.showmore {
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}